
*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

div {
    border: 1px solid black;
}

html, body {
    height: 100%; 
}

.wrapper {
    margin: none;
    width: 100%;
    padding: 0%;
    position: relative;
    overflow: auto;
}


h1 h2 h3 h4 h5 h6{
    background-color:black;
}
h1{
    font-size: calc(24px + 12 * (100vw / 1920));
}
h2{
    font-size: calc(20x + 12 * (100vw / 1920));
}

p {
    color: #929292;
    font-size: 16px;
}


/*-------HEADER-------*/
.container-header {
    max-width: 1170px;
    margin: 0 auto;
}
header {
    max-width: 100%;
    height: auto;
    background-color: #F5FCFD;
    background-image: url("../img/headerbg.png") ;
    background-size:cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; 
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header__logo {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 3;

}

.header__logo img {
    max-width: 100%;
    width: 180px;
    height: 100px;
    display: block;
    padding-left: 30px;
}

.header__burger {
    display: none;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;

}
.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
    padding:0px 30px 0px 0px;
}


.header__link {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color:#929292;
    font-weight: bold;
}
.header__link:hover {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0F7BFF;
    font-weight: bold;
}
.header__link:active {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0F7BFF;
    font-weight: bold;
}



.sign__up {
    padding: 10px 30px;
    background: #0063DD;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #0063DD;
}
.sign__up:hover{

    padding: 10px 30px;
    background: #FFFFFF;
    color: #0063DD;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #0063DD;

}

.title  {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    margin: auto;
    text-align: center;
    max-width: 100%;
    width: 610px;
    padding-top: 105px;
}
.title h1, p {
    text-align: center;
}
.btns {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 610px;
    margin: auto;
    padding-top: 35px;

}

.dnld {
    border: 1px solid #0F7BFF;
    padding: 10px 30px;
    background:#0F7BFF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px;
    max-width: 100%;
    height: auto;
    font-weight: bold;
    margin-right: 15px;
    z-index: 2;
}

.trial {
    border: 1px solid #0F7BFF;
    padding: 10px 30px;
    background:#FFFFFF;
    color: #0F7BFF;
    text-decoration: none;
    border-radius: 40px;
    max-width: 100%;
    height: auto;
    font-weight: bold;
    margin-left: 15px;
    z-index: 2;
}

.dnld:hover{
    border: 1px solid #0F7BFF;
    padding: 10px 30px;
    background:#FFFFFF;
    color: #0F7BFF;
    text-decoration: none;
    border-radius: 40px;
    max-width: 100%;
    height: auto;
    font-weight: bold;
    margin-left: 15px;
}
.trial:hover{
    border: 1px solid #0F7BFF;
    padding: 10px 30px;
    background:#0F7BFF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px;
    max-width: 100%;
    height: auto;
    font-weight: bold;
    margin-right: 15px;
}

.phones {
    display: flex;
    max-width: 100%;
    width: 810px;
    height: auto;
    background-attachment: fixed;
    margin: auto;
    padding-top: 80px;
}

@media (max-width: 767px){

    body.lock {
        overflow: hidden;
    }

    h1{
        font-size: calc(24px + (12 + 12 * 0.7) * (100vw - 320px) / 1920);
    }

    h2{
        font-size: calc(20px + (12 + 12 * 0.7) * (100vw - 320px) / 1920);
    }

    .header__logo img {
        max-width: 100%;
        width: 50%;
        height: 50%;
        display: block;
        padding-left: 5%;
        z-index: 4;
    }

    .sign__up.hover{   
        background: #FFFFFF;
        color: #0063DD;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 5%;
        z-index: 4;
    }


    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding: 80px 0px 0px 30px;
        transition: all 0.3s ease 0s;
        overflow: scroll;
        z-index: 3;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin:0px 0px 20px 0px;
        font-size: 24px;
    }
    .header__link:hover {
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        color: #0F7BFF;
        font-weight: bold;
    }
    .header__link:active {
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        color: #0F7BFF;
        font-weight: bold;
    }
}
/*-------SKROLLDOWN-------*/
.skrl {
background-color:#F5FCFD
}
.skrl img:hover{
    opacity: 50%;
    }
    
.sdn {
    display:flex;
    border: 2px solid #E4E4E4;
    background-color:#fff;
    border-radius:100%;
    width: 71px;
    height: 71px;
    padding: 10px;
    margin: auto;
    justify-content: center;
    position: relative;
    top: -36px;
    z-index: 3;
}


/*-------FEATURES-------*/
.features {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    background-color:#F5FCFD;
}

.container-fluid {
   display:flex;
   position: relative;
   text-align: center;
   justify-content: center;
   overflow: hidden;
}

.roll1 {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    margin-top: 40px;
    margin-bottom: 30px;
    
}

.roll2 {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    margin-top: 40px;
    margin-bottom: 30px
}
.roll3 {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    margin-top: 40px;
    margin-bottom: 30px
}

.box {
    width: 361px;
    height: 291px;
    background-color: #fff;
    border-radius:1%;
    margin-top: 165px;
    margin-bottom: 180px;
    margin-left: auto;

}
.box2 {
    width: 361px;
    height: 291px;
    background-color: #fff;
    border-radius:1%;
    margin-top: 215px;
    margin-bottom: 130px;
    margin-left: 30px;
    margin-right: 30px;
}



@media (max-width:1158px) {
        .box2{
            width: 361px;
            height: 291px;
            background-color: #fff;
            border-radius:1%;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 30px;
            margin-right: 30px;
            
        }
        .box{
            width: 361px;
            height: 291px;
            background-color: #fff;
            border-radius:1%;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 30px;
            margin-right: 30px;
            
        }
}
@media (max-width:795px) {
        .box2{
            width: 361px;
            height: 291px;
            background-color: #fff;
            border-radius:1%;
            margin-top:0px;
            margin-bottom: 0px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .box{
            width: 361px;
            height: 291px;
            background-color: #fff;
            border-radius:1%;
            margin-top:0px;
            margin-bottom: 0px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
}
@media (max-width:767px) {
    .box{
        transform: scale(0.7);
        margin-top: 0;
        margin-bottom: 0;
        }
        .box2{
            transform: scale(0.7);
            margin-top: 0;
            margin-bottom: 0;
            }
}

/*-------ABOUT-------*/
.about {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
}
.container-about {
    padding-left: 20%;
    padding-right: 20%;
}

.emimg {
    object-fit: cover;
    display: flex;
    max-width: 100%;
    width: 604px;
    height: auto;
    background-attachment: fixed;
    margin: right;
    margin: 0 auto;
}

.emtxt {
    position: relative;
    margin-top: 25%;
    vertical-align: middle;
    text-align: left;
}

.emtxt p{
    text-align: left;
    overflow-wrap: normal;
    max-width: 100%;
    width: 550px;
    padding-top: 33px; 
    padding-bottom: 38px;
    height: auto;
    margin: left;
}
.emtxt button{
    text-align: left;
    overflow-wrap: normal;
    max-width: 100%;
    width: 550px;
    height: auto;
    margin: left;   
    padding-bottom: 10px;
}


.rm {
    color:#0F7BFF;
    text-decoration: none; 
    font-size: 16px;
    position: relative;
    width: 166px;
    height: 51px;
    border:none;
    background:none
}


.kit {
    display: inline-flex;
}
.kittxt {
    position: relative;
    margin-top: 25%;
    vertical-align: middle;
    text-align: left;
}
.kitimg {

    object-fit: cover;
    display: flex;
    max-width: 100%;
    width: 604px;
    height: auto;
    background-attachment: fixed;
    margin: right;
    align-items:center;
    margin: 0 auto;
}

.kittxt p{
    text-align: left;
    overflow-wrap: normal;
    max-width: 100%;
    width: 550px;
    padding-top: 33px; 
    padding-bottom: 38px;
    height: auto;
    margin: left;
}
.kittxt button{
    text-align: left;
    overflow-wrap: normal;
    max-width: 100%;
    width: 550px;
    height: auto;
    margin: left;   
    padding-bottom: 10px;
}

@media (max-width: 560px) {
    .kitimg {
        transform: scale(0.8);
        margin-top: 0;
        margin-bottom: 0;
        margin: 0 auto;
    }

    .kittxt {
        transform: scale(0.8);
        margin-top: 0;
        margin-bottom: 0;
    }

    .emimg {
        transform: scale(0.8);
        margin-top: 0;
        margin-bottom: 0;
        margin: 0 auto;
    }

    .emtxt {
        transform: scale(0.8);
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .kitimg {
        transform: scale(0.6);
        margin-top: 0;
        margin-bottom: 0;
    }

    .kittxt {
        transform: scale(0.6);
        margin-top: 0;
        margin-bottom: 0;
    }

    .emimg {
        transform: scale(0.6);
        margin-top: 0;
        margin-bottom: 0;
    }

    .emtxt {
        transform: scale(0.6);
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 360px) {
    .kitimg {
        transform: scale(0.5);
        margin-top: 0;
        margin-bottom: 0;
        margin: 0 auto;
    }

    .kittxt {
        transform: scale(0.5);
        margin-top: 0;
        margin-bottom: 0;
    }

    .emimg {
        transform: scale(0.5);
        margin-top: 0;
        margin-bottom: 0;
        margin: 0 auto;
    }

    .emtxt {
        transform: scale(0.5);
        margin-top: 0;
        margin-bottom: 0;
    }
}


/*-------HOW DOES IT WORK-------*/
.workinfo {
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
    background-attachment: fixed;
    background-color:#F5FCFD;
}
.container-fluid {
   position: relative;
   text-align: center;
   justify-content: center;
   overflow: hidden;
}
.workinfo h2 {
    padding-top: 150px;
}
.container-hdiw {
    display: inline-block;
    position: relative;
    text-align: center;
    justify-content: center;
    padding-bottom: 130px;
    width: 100%;
    height: auto;


}

.hdiwbox {
    display: inline-block;
    max-width: 100%;
    width: 295px;
    height: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
}


.hdiw1 {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;

}

.hdiw2 {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;

}
.hdiw3 {
    max-width: 100%;
    height: auto;
    background-attachment: fixed;

}

@media (max-width:500px) {
    .hdiwbox{
        transform: scale(0.7);

        }
}
@media (max-width:350px) {
    .hdiwbox{
        transform: scale(0.6);

        }
}

/*-------SUBSCRIBE-------*/
.txtplan {
    position: relative;
    text-align: left;
}

.price {
background-color: #FFFFFF;
}

.container price {
    width: 100%;
    display: inline-table;
    position: relative;
}
.plan {
    position: relative;
    margin-top: 50%;
}

.btnspay {
    margin-top: 10px;
    height: auto;
    max-width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    top: 10px;
}
.mnth {
    padding: 10px 30px;
    background: #0063DD;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px 0px 0px 40px;
    border:1px solid #0063DD;
    font-size: 16px;
    font-weight: bold;
    margin-right: -5px;
    position: relative;
    width: 166px;
    height: 51px;
}
.mnth:hover {
    padding: 10px 30px;
    background: #FFFFFF;
    color: #0063DD;
    text-decoration: none;
    border:1px solid #0063DD;
    border-radius: 40px 0px 0px 40px;
    font-size: 16px;
    font-weight: bold;
    margin-left: -5px;
    position: relative;
    width: 166px;
    height: 51px;
}


.year {
    padding: 10px 30px;
    background: #FFFFFF;
    color: #0063DD;
    text-decoration: none;
    border:1px solid #0063DD;
    border-radius: 0px 40px 40px 0px;
    font-size: 16px;
    font-weight: bold;
    margin-left: -5px;
    position: relative;
    width: 166px;
    height: 51px;
}
.year:hover {
    padding: 10px 30px;
    background: #0063DD;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0px 40px 40px 0px;
    border:1px solid #0063DD;
    font-size: 16px;
    font-weight: bold;
    margin-right: -5px;
    position: relative;
    width: 166px;
    height: 51px;
}

.stadardprice {
    padding: 10px 30px;
    background: #0063DD;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    border: 1px solid #0063DD;
}
.stadardprice:hover{
    padding: 10px 30px;
    background: #FFFFFF;
    color: #0063DD;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid
}

.premiumprice {
    padding: 10px 30px;
    background: #FFFFFF;
    color: #0063DD;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #0063DD;
}
.premiumprice:hover {
    padding: 10px 30px;
    background: #0063DD;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    border: 1px solid #0063DD;
}

.standard {
    position: relative;
    margin-bottom: 15px;
}

.standard  img{
    padding-top: 15px;
    margin-bottom: 15px;
}

.premium img{
    padding-top: 15px;
    margin-bottom: 15px;
}

.standard h3 {
    color: #0063DD;
}
.premium h3 {
    color: #0063DD;
}

@media (max-width: 359px){
    .btnspay {
        padding-bottom: 50px;
    }
    .mnth {
        position: relative;
        transform: scale(0.9);
        border-radius: 40px;
        margin-right: 0;
        top: 10px;
    }
    .year {
        transform: scale(0.9);
        border-radius: 40px;
        margin-left: 0;
        top: 35px;
    }

    .mnth:hover {
        padding: 10px 30px;
        background: #FFFFFF;
        color: #0063DD;
        text-decoration: none;
        border:1px solid #0063DD;
        border-radius: 40px;
        font-size: 16px;
        font-weight: bold;
        margin-left: -5px;
        position: relative;
        width: 166px;
        height: 51px;
    }

    .year:hover {
        padding: 10px 30px;
        background: #0063DD;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 40px;
        border:1px solid #0063DD;
        font-size: 16px;
        font-weight: bold;
        margin-right: -5px;
        position: relative;
        width: 166px;
        height: 51px;
    }
}

/*-------FEEDBACK-------*/
.fbck{
    display: flex;
    max-width: 100%;
    width: 609px;
    height: auto;
    background-attachment: fixed;
    margin: auto;
    padding-top: 80px;
}

.carousel {
    display: inline-block;
}

/*-------NEWS-------*/

.news {
    display: inline-block;
    position: relative;
    text-align: center;
    justify-content: center;

    padding-bottom: 120px;
    width: 100%;
    height: auto;
}

.lastnews
{
margin-right: 50%;
}

.othernews {
 display: flex;
 justify-content:right;
}

/*-------Free-------*/
.gettrial {
    display: flex; 
    align-items:center;
    justify-content: center;
}

.freetrial {
    display: table-cell;
    justify-content: center;
    max-width: 100%;
    width: 610px;
    margin: auto;
    padding-top: 35px;

}

.getstarted {
    border: 1px solid #0F7BFF;
        padding: 10px 30px;
        background:#0F7BFF;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
}



/*-------FOOTER-------*/
.infolinks {
margin: 0 auto;
display: list-item;
}

footer {
    background: #0F7BFF;
    padding: 40px 0;
    color:#E4E4E4;
    position: relative;
    justify-content: space-between;
}
